body {
    font-family: "Cairo", sans-serif, Arial;
    /* background-color: rgba(209, 209, 209, 0.282); */
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background-image: url("../imgs/universal_background.jpg");
    /* Add the blur effect */
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
}

.auth-container {
    min-height: 400px;
    width: 480px;
    border: 0.9px solid rgba(150, 150, 150, 0.5);
    border-radius: 35px;
    background-color: rgba(0, 0, 0, 0.05);
}

.title {
    font-size: 25px;
    font-weight: 700;
    font-family: inherit;
    margin-bottom: 30px;
}

.label {
    font-size: 19px;
    font-weight: 500;
}

.input {
    background-color: white;
    margin-bottom: 8px;
    font-size: 16px;
    width: 280px;
    padding-left: 10px;
    border: 0.5px solid rgba(150, 150, 150, 0.7);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}
.input input {
    height: 30px;
    width: 85%;
    border: none;
    border-radius: 10px;
}

.input input:focus {
    outline: none;
}

.submit {
    margin-top: 5%;
    text-align: center;
}

.submit button {
    padding: 3px 18px;
    font-size: 17px;
    font-weight: 500;
    border: 0.5px solid rgb(94, 94, 94);
    border-radius: 4px;
    font-family: inherit;
    opacity: 1;
    cursor: pointer;
    transition: opacity 0.2s;
    margin-bottom: 20px;
}

.submit button:hover {
    opacity: 0.7;
}

.image-input input {
    display: none;
}

.image-input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.image-input label {
    --diameter: 150px;
    height: var(--diameter);
    width: var(--diameter);
    border-radius: 100%;
    border: 2px solid rgb(180, 180, 180);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s;
    cursor: pointer;
}

.image-input .upload-icon {
    position: absolute;
}

.image-input .upload-icon img {
    height: 50px;
    opacity: 0;
    transition: opacity 0.3s;
}

.image-input:hover .upload-icon img {
    opacity: 1;
}

.image-input label:hover {
    opacity: 0.7;
}

.image-input label img {
    height: 105%;
    background-size: cover;
}
