<!DOCTYPE html>
<html lang="ar" dir="ltr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>T.E.C Tawreed</title>
        <link rel="stylesheet" href="/Authentication/css/style.css" />
    </head>
    <body>
        <div class="login-background">
            <form
                class="leftbar"
                action="/login"
                method="post"
                target="_parent"
            >
                <p class="username">إسم المستخدم</p>
                <input
                    type="text"
                    dir="ltr"
                    name="username"
                    class="username-input"
                    required
                />
                <p class="password">كلمة المرور</p>
                <input
                    type="password"
                    dir="ltr"
                    name="password"
                    class="password-input"
                    required
                />
                <button class="login" type="submit">تسجيل الدخول</button>
                <p class="error"><%= error %></p>
            </form>

            <div class="rightbar">
                <img src="/Authentication/imgs/logo.png" alt="" class="logo" />
                <h1 class="company">T.E.C Tawreed</h1>
            </div>
        </div>
    </body>
</html>
