<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= project_name %> - Login</title>
        <link rel="stylesheet" href="/Authentication/css/style.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link
            rel="preconnect"
            href="https://fonts.gstatic.com"
            crossorigin=""
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700;800&amp;display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <div class="background"></div>
        <main class="container center">
            <div class="auth-container center">
                <div class="title center">Authentication » Login</div>
                <form
                    action="/login"
                    method="post"
                    target="_parent"
                    class="auth"
                >
                    <div class="label">Email Address</div>
                    <div class="input">
                        <i class="fa-solid fa-envelope"></i>
                        <input name="email" type="email" required />
                    </div>
                    <div class="label">Password</div>
                    <div class="input">
                        <i class="fa-solid fa-lock"></i>
                        <input name="password" type="password" required />
                    </div>
                    <div class="submit">
                        <button type="submit">Sign in</button>
                    </div>
                </form>
                <div class="check-account">
                    Don't have an account? <a href="/register">Register Now</a>
                </div>
            </div>
        </main>
    </body>
    <script
        src="https://kit.fontawesome.com/e6c13277a1.js"
        crossorigin="anonymous"
    ></script>
</html>
