<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= project_name %> - Register</title>
        <link rel="stylesheet" href="/Authentication/css/style.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link
            rel="preconnect"
            href="https://fonts.gstatic.com"
            crossorigin=""
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700;800&amp;display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <div class="background"></div>
        <main class="container center">
            <div class="auth-container center">
                <div class="title center">Authentication » Register</div>

                <form
                    action="/register"
                    method="post"
                    target="_parent"
                    class="auth"
                    enctype="multipart/form-data"
                >
                    <div class="image-input">
                        <div class="label">Profile Picture</div>

                        <input
                            type="file"
                            name="profilePicture"
                            id="image-upload"
                            accept="image/png,image/jpeg,image/jpg"
                        />
                        <label for="image-upload"
                            ><div class="upload-icon">
                                <img
                                    src="/Authentication/icons/upload.png"
                                    alt=""
                                />
                            </div>
                            <img
                                src="https://i.pinimg.com/originals/73/17/a5/7317a548844e0d0cccd211002e0abc45.jpg"
                                id="uploaded-image"
                                alt=""
                        /></label>
                    </div>
                    <!-- <input
                        type="text"
                        name="imageURL"
                        id="form-image-url"
                        hidden
                    /> -->
                    <div class="label">Full Name (Arabic)</div>
                    <div class="input">
                        <i class="fa-solid fa-user"></i>
                        <input name="arabicName" type="text" required />
                    </div>
                    <div class="label">Full Name (English)</div>
                    <div class="input">
                        <i class="fa-solid fa-user"></i>
                        <input name="englishName" type="text" required />
                    </div>
                    <div class="label">Phone Number</div>
                    <div class="input">
                        <i class="fa-solid fa-phone"></i>
                        <input name="phoneNumber" type="number" required />
                    </div>
                    <div class="label">Email Address</div>
                    <div class="input">
                        <i class="fa-solid fa-envelope"></i>
                        <input name="email" type="email" required />
                    </div>
                    <div class="label">Password</div>
                    <div class="input">
                        <i class="fa-solid fa-lock"></i>
                        <input name="password" type="password" required />
                    </div>
                    <div class="submit">
                        <button type="submit">Sign up</button>
                    </div>
                </form>
                <div class="check-account">
                    Already have an account? <a href="/login">Log in</a>
                </div>
            </div>
        </main>
    </body>
    <script
        src="https://kit.fontawesome.com/e6c13277a1.js"
        crossorigin="anonymous"
    ></script>
    <script src="/Authentication/js/script.js"></script>
</html>
