.logo {
	position: fixed;

	width: 130px;
	height: 100px;
	top: 10em;
	/* left: 5em; */
}

.form {
	width: 30%;

	.title {
		font-size: 1.5em;
	}

	.fields {
		margin-top: 1em;
		flex-direction: column;

		.input {
			width: 100%;
			height: 3em;
			padding: 0.5em;
			border: 1px solid #dddcdc;
			border-radius: 5px;
			margin-bottom: 1em;
			outline: none;
		}
	}
	.control {
		row-gap: 1em;
		margin-top: 2em;
		.signIn,
		.signUp {
			width: 100%;
			height: 3em;
			background-color: var(--standardcolor);
			color: white;
			border: none;
			border-radius: 5em;
			cursor: pointer;
			transition: background-color 0.3s;
			margin-bottom: 1em;
		}

		.signUp {
			background-color: white;
			color: var(--standardcolor);
			border: 1px solid var(--standardcolor);
		}
	}
}
