:root {
    /* COLORS #7fffd4ad */
    --primary-color: rgb(102, 23, 23);
    --secondary-color: rgb(251, 251, 251);
    --nav-bar-color: black;
    --nav-bar-color-active: white;
    --hover-color: rgba(200, 200, 200, 0.2);

    /* OTHER */
    --header-items-top-margin: 70px;
    --content-padding-top: 110px;
}
