.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background-color: var(--greycolor);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    .logo-section {
        justify-self: end;
        height: 100%;
        margin: 0 3.5em;
    }

    .logo-section img {
        height: 100%;
    }

    .title {
        margin-left: 6em;
        gap: 20px;
    }

    .title p,
    .title i {
        font-size: 2.3em;
        color: var(--standardcolor);
    }

    .title p {
        font-weight: 900;
    }

    .search-section {
        background-color: var(--secondcolor);
        gap: 10px;
        height: 40%;
        padding: 7px 16px;
        border: 1px solid var(--standardcolor);
        border-radius: 15px;
    }

    .search-section i {
        font-size: 25px;
    }

    .search-section input {
        min-width: 350px;
        border: none;
        outline: none;
        height: 100%;
        font-size: 18px;
    }

    .profile-section {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        user-select: none;
        margin: 0 3.5em;

        .profile {
            height: 51px;
            aspect-ratio: 1/1;
            border-radius: 50%;
            cursor: pointer;
            transition: opacity 0.15s;
        }

        .profile img {
            height: 100%;
            width: 100%;
        }

        .profile:hover {
            opacity: 0.95;
        }

        .notifications {
            position: relative;

            .count {
                position: absolute;
                top: 0;
                right: -10px;
                border-radius: 50%;
                background-color: red;
                line-height: 20px;
                width: 20px;
                text-align: center;
            }

            .count p {
                color: white;
            }
            .icon {
                font-size: 2em;
            }

            .icon i {
                transition: opacity 0.15s, color 0.15s;
                cursor: pointer;
                color: var(--inactive-font);
            }

            .icon:hover {
                opacity: 0.95;
                color: var(--standardcolor);
            }
        }
    }
}
