.requests-container {
    flex-direction: column;
    margin: 3em;

    .tabs {
        display: flex;
        column-gap: 1.8em;
        margin: 0 10em;

        .tab {
            padding: 8px 2em;
            /* border-bottom: 1px solid var(--inactive-font); */
            min-width: 13em;
            cursor: pointer;
            background-color: #f2f3f3;
            border-radius: 5px;
            user-select: none;
            position: relative;

            p {
                text-align: center;
                font-size: 25px;
                font-weight: 700;
            }

            &.tab-activated {
                background-color: #6c9;
                border: none;
                position: relative;

                p {
                    color: white;
                }

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    background-color: #6c9;
                    border-radius: 50%;
                    bottom: -5px;
                    right: calc(50% - 10px);
                    height: 10px;
                    width: 10px;
                }
            }
        }
    }

    .filters {
        margin-top: 2em;
        display: flex;
        column-gap: 2em;

        .icon {
            border: 1px solid var(--standardcolor);
            border-radius: 4px;
            padding: 8px;
            aspect-ratio: 1/1;
            cursor: pointer;

            i {
                color: var(--standardcolor);
                font-size: 18px;
                font-weight: 900;
            }
        }

        .self {
            display: flex;
            column-gap: 1em;
            flex-wrap: wrap;

            .filter {
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #6c9;
                background: transparent;
                padding: 0 8px;
                border-radius: 24px;
                cursor: pointer;
                user-select: none;

                p {
                    font-size: 17px;
                    font-weight: 600;
                    color: #262d34;
                }

                &.filter-activated {
                    background-color: #6c9;

                    p {
                        color: white;
                    }
                }
            }
        }
    }
    .orders,
    .rfqs {
        display: flex;
        flex-direction: column;
        row-gap: 1.7em;
        margin: 0 10em;
    }

    table {
        tbody {
            tr:first-child {
                background-color: var(--standardcolor);
            }

            tr {
                p {
                    text-align: center;
                    text-wrap: wrap;
                }

                &:nth-child(even) {
                    background-color: #f3f3f3;
                }

                th {
                    min-width: 10em;

                    &:first-child {
                        border-top-right-radius: 1em;
                    }
                    &:last-child {
                        border-top-left-radius: 1em;
                    }

                    p {
                        margin: 7px 0;
                        font-size: 18px;
                        font-weight: 600;
                        color: white;
                    }
                }

                td {
                    max-width: 600px;
                    p {
                        margin: 5px 0;
                        font-family: "Segoe UI", Tahoma, Geneva, Verdana,
                            sans-serif;
                        font-size: 17px;
                        font-weight: 400;
                    }

                    .controls {
                        column-gap: 1em;
                        padding: 0 10px;

                        a {
                            background-color: #fbc63f;
                            width: 2.1em;
                            border-radius: 50%;
                            aspect-ratio: 1/1;
                            cursor: pointer;

                            i {
                                font-size: 16px;
                                color: white;
                                font-weight: 900;
                            }
                        }

                        .visit {
                            background-color: #674aff;
                        }

                        .approve {
                            background-color: #6c9;
                        }

                        .reject {
                            background-color: red;
                        }
                    }
                }
            }
        }
    }
}
